
@{
    ViewBag.Title = "GetAllEmployees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>
    function AddToCart(id) {
        $.ajax({
               url: '@Url.Action("GetAllEmployees", "GetEmployees")',
               type: 'GET',
               dataType: 'json',
               cache: false,
               data: { 'id': id },
               success: function (results) {
                    alert(results)
               },
               error: function () {
                alert('Error occured');
               }
       });
   }

</script>

<form role="form">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1"
               placeholder="Enter email">
    </div>
</form>