
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Styles/MainCss.css" rel="stylesheet" />
<script src="~/Scripts/TechnicalTest/MainJavaScript.js"></script>

<form role="form">
    <div class="form-group">
        <h1>Technical Test</h1>
    </div>
    <div class="form-group">
        <label for="idEmployee">Id Employee</label>
        <input type="text" class="form-control"  onKeyPress="return OnlyNumbers(event)" id="txtIdEmployee"
               placeholder="Enter Id">
    </div>

    <div class="form-group">

        <button type="button" class="btn btn-primary" onclick="GetEmployees();">Search Employee</button>
    </div>
    <div>
        <table id="CustomGrid" class="display" style="width:100%"></table>
    </div>
</form>

